<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Spotify API Demo</h1>
    <button class="user-button">Get User's Profile</button>
    <button class="artist-button">Get Top Artists</button>
    <button class="song-button">Get Top Songs</button>
    <input type="text" class="username-input" placeholder="enter username" />
    <button class="username-button">Get user by username:</button>
  </body>
  <script src="/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
